.kaufman{
  background-color:#1f1f1f ;
  position: relative;
  overflow:  hidden ;
  color: white;
}
.section-title{
padding-top: 90px;
width: 60%;
margin-bottom: 20px;
position: sticky;
  z-index: 5;

}
.section-subtitle{
  width: 60%;
  position: sticky;
  z-index: 5;
}
.table{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 90px;
  z-index: 5;
}
.cell{
  padding-top: 80px;
  width: 200px;
  z-index: 5;
}
.text{
  margin-top: 20px;
  z-index: 5;
}
