
.main-text{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.paragraph{
 line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}