.feynman-img{
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.footer_logo{
  margin: 0;
 width: 143px;
  height: 32px; 
   background-size: 100%;
   background-repeat:  no-repeat  ;
}
